<svg id="Rating" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.04 23">
  <defs>
    <style>.cls-1{fill:#a5002b;}</style>
  </defs>
  <title>star</title>
  <path id="Star" class="cls-1" d="M11.6,0l3.52,7.63,8,1.16L17.3,14.66,18.72,23,11.6,19,4.48,23,5.9,14.66.08,8.79l8-1.16Z" transform="translate(-0.08 0)"/>
</svg>