/*-----------------------------------*/
/*             Animation             */
/*-----------------------------------*/
@keyframes btn-effect{
	0%{
		margin: 0;
		padding: 0;
		height: 0;
		width: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-24px);
	}

	50%{
		margin: 0;
		padding: 0;
		height: 0;
		width: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-24px);
	}

	100%{
		margin: 0 24px 16px 24px;
		padding: 16px calc(64/288*100%);;
		height: auto;
		width: auto;
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
}

/*Ham Icon*/
.ham {
  cursor: pointer;
  transition: transform 400ms;
	user-select: none;
	
	width: 64%;
	height: 64%;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#C7A8AD;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham .top {
  stroke-dasharray: 40 121;
}
.ham .bottom {
  stroke-dasharray: 40 121;
}
.ham.active .top {
  stroke-dashoffset: -68px;
}
.ham.active .bottom {
  stroke-dashoffset: -68px;
}

/*-----------------------------------*/
/*               HTML                */
/*-----------------------------------*/
/*- Default value */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
form,
figure,
blockquote,
p,
a{
	margin-top: 0;
	margin-bottom: 0;
}

html, body{
	margin: 0;
	padding: 0;

	scroll-behavior: smooth;
}

/*-----------------------------------*/
/*               FONTS               */
/*-----------------------------------*/
/*- Default fonts*/
body{
	font: 400 100%/1.5 "Poppins", "Helvetica", "Arial", sans-serif;
}

/*------------------------------------*/
/*                 IMG                */
/*------------------------------------*/
/*- Responsive images */
.o-fluidimg{
	max-width: 100%;
}

/*-----------------------------------*/
/*             Container             */
/*-----------------------------------*/
/*- Responsive container */

/*default container on mobile*/
.o-container{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 51px;
	padding-right: 51px;
}
/*default container on desktop*/
@media all and (min-width: 1024px){
	.o-container{
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 108px;
		padding-right: 108px;
	}
}

/*-----------------------------------*/
/*                Text               */
/*-----------------------------------*/
/*- Default text styling */
/*- Modifier text */

/*default title*/
.c-title{
	font-size: 54px;
	font-weight: 700;
	color: #FDFAFB;

	line-height: 60.8px;
	margin-bottom: 32px;
}

/*default subtitle*/
.c-subtitle{
	font-size: 36px;
	font-weight: 600;
	color: #FFB708;

	line-height: 54px;
	margin-bottom: 56px;
}

/*default third title on mobile*/
.c-thirdtitle{
	font-size: 24px;
	font-weight: 500;
	color: #FFB708;

	margin-bottom: 32px;
	text-align: center;
}
@media all and (min-width:1024px){
	.c-thirdtitle{
		text-align: left;
	}
}

/*default text*/
.c-txt{
	font-size: 16px;
	font-weight: 400;
	color: #BEBBBC;

	line-height: 36px;
	margin-bottom: 56px;
}
/*lighter text*/
.c-txt--light{
	color: #F0EDEE;
}
.c-txt--form{
	margin-bottom: 16px;
	font-weight: 600;
}
/*w/ shasow*/
.c-txt--shadow, .c-title--shadow{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------*/
/*               BUTTON              */
/*-----------------------------------*/
/*- Resposive button */
/*- Modifier button */

/*default button on mobile*/
.c-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding : 24px 64px;

	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #FDFAFB;

	background-color: #FFB708;
	border-radius: 20px;
	
	border-bottom: 4px solid #D99C07;

	cursor: pointer;
}
/*default button on desktop*/
@media all and (min-width: 1024px){
	.c-btn{
		display: inline-block;

		margin: 0;
		padding: 24px 64;

		max-width: 496px;

		text-align: center;

	}
}

/*w/ shadow*/
.c-btn--shadow{
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

/*btn hover*/
.c-btn:hover{
	margin-bottom: 4px;
	transform: translateY(4px);
	background-color: #D99C07;
	border-bottom: 0px solid #D99C07;
}
@media all and (min-width: 1024px){
	.c-btn:hover{
		margin-top: 4px;
		margin-bottom: 0;
		transform: translateY(0);
		background-color: #D99C07;
		border-bottom: 0px solid #D99C07;
	}
}

/*centered*/
.c-btn--centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}




/*--------------------------------------------------------------------------------*/
/*                                   HOMEPAGE                                     */
/*--------------------------------------------------------------------------------*/

/*-----------------------------------*/
/*            siteheader             */
/*-----------------------------------*/
/*- styling */
/*- on-click bg-color come transparent*/
/*- responsive padding */
/*- layout flexbox */

/*static navbar*/
.c-navbar{
	background-color: rgba(61, 0, 16, 0.8);

	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.c-navbar--alt{
	background-color: rgb(61, 0, 16);
	position: static;
}

/*on click*/
.c-navbar.is-transparent{
	background-color: rgba(61, 0, 16, 0);
}

/*mobile*/
.c-siteheader{
	padding-top: 32px;
	padding-bottom: 32px;
}
/*desktop*/
@media all and (min-width: 1024px){
	.c-siteheader{
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

/*flexbox*/
.c-siteheader > .o-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}


/* Logo */
/*- responsive scale */
/*- animation */

/*mobile*/
.c-siteheader__logo > a > svg{
	display: block;
	width: 84px;
	height: 43px;
}
/*desktop*/
@media all and (min-width: 1024px){
	.c-siteheader__logo > a > svg{
		display: block;
		width: 184px;
		height: 94px;
	}
}

/*animation*/
.c-siteheader__logo > a > svg > .cls-1{
	fill: #FFB708;
	transition: all ease-in-out .2s;
}
.c-siteheader__logo:hover .cls-1{
	fill: #D99C07;
}
.c-mobilenav__logo > a > svg > .cls-1{
	fill: #FFB708;
	transition: all ease-in-out .2s;
}
.c-mobilenav__logo:hover .cls-1{
	fill: #D99C07;
}

/*------------------*/
/*     Visible      */
/*------------------*/
/**
* - Hidden by default
* - Visible on large screen
**/

/* desktop nav on mobile */
.c-siteheader__mainnav{
  display: none;
}
/* desktop nav on desktop */
@media all and (min-width: 1024px){
  .c-siteheader__mainnav{
    display: block;
  }
}

/* mobile nav on mobile */
.c-siteheader__mobilenav{
  display: block;
}
/* mobile nav on desktop */
@media all and (min-width: 1024px){
  .c-siteheader__mobilenav{
    display: none;
  }
}

/*-----------------------------------*/
/*               Nav                 */
/*-----------------------------------*/

/*------------------*/
/*      Mobile      */
/*------------------*/
/*mobile menu position */
.c-mobilenav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;

  background-color: rgba(61, 0, 16, 0.8);
  color: #EDCCD5;

  -webkit-transform: translate3d(0, -100%, 0); /*Pour mozzila*/
  transform: translate3d(0, -100%, 0);

	z-index: 9999;
}
/*show mobile menu on click*/
.c-mobilenav.is-active{ /* deux classe présente à la fois*/
  transform: translate3d(0, 0, 0);
}

/* .c-mobilenav.is-active .c-navbar{
	background-color: rgba(61, 0, 16, 0);
} */

/*site logo on mobilenav*/
.c-mobilenav__logo > a > svg{
	display: block;
	width: 84px;
	height: 43px;
}

/*layout flexbox*/
.c-mobileheader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
.c-mobileheader--right>.c-mobilenav__close{
	position: absolute;
	top: 32px;
	right: 51px;
}

/*scale of icons*/
.c-mobilenav__open__icon, .c-mobilenav__close__icon{
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.c-mobilenav__ham__icon{
	position: absolute;
	top: 20%;
	right: 0%;
	z-index: 99999;
}

/*openmenu icon become transparent on click*/
.c-mobilenav__open__icon.is-transparent{
	opacity: 0;
}

/*mobile menu styling*/
.c-mobilemenu{
	height: calc(100vh - 116px);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;

  list-style: none;
}

/*menu item styling*/
.c-mobilemenu__link{
	font-size: 24px;
	font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
	color: #EDCCD5;
	
	transition: all ease-in-out .5s;
}

/*menu item hover*/
.c-mobilemenu__link:hover{
	border-bottom: 1px solid #ffb708;
}


/*------------------*/
/*     Desktop      */
/*------------------*/
/*desktop menu layout*/
.c-mainnav{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;

  list-style: none;
}
.c-mainnav__item:not(:last-child){
  margin-right: 100px;
}

/*menu item styling*/
.c-mainnav__link{

	font-size: 24px;
	font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #EDCCD5;

  transition: transform 0.3s ease-out;
}
/*menu item hover*/
.c-mainnav__link:hover{
  border-bottom: 1px solid #ffb708;
}

/*hide mobile nav*/
@media all and (min-width: 1024px){
  .c-mobilenav{
    display: none;
  }
}

/*-----------------------------------*/
/*              Header               */
/*-----------------------------------*/
/*- Background Image*/
/*- Layout of content*/
/*- Responsive text alignement*/

/*background-image & layout on mobile*/
.c-header{
	height: 100vh;

	background-image: url("/assets/img/720/pizza-cover.jpg");
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
@media all and (min-width: 700px){
	.c-header{
		background-image: url("/assets/img/1024/pizza-cover.jpg");
	}
}
/*layout on desktop*/
@media all and (min-width: 1024px){
	.c-header{
		align-items: flex-start;
		background-image: url("/assets/img/2048/pizza-cover.jpg");
	}
	.c-header__intro{
		display: block;
		max-width: 496px;
	}
}


/*text align on mobile */
.c-header__title--autoalign, .c-header__txt--autoalign{
	text-align: center;
}
/*text align on desktop */
@media all and (min-width: 1024px){
	.c-header__title--autoalign, .c-header__txt--autoalign{
		text-align: left;
	}
}

/*-----------------------------------*/
/*              Delivery             */
/*-----------------------------------*/
/*- Layout of the content*/

/*padding top of container on mobile*/
.c-delivery{
	padding-top: 120px;

	background-color: #3D0010;
}
/*padding top of container on desktop*/
@media all and (min-width: 1024px){
	.c-delivery{
		padding-top: 136px;
	}
}

/*text alignement of intro on mobile*/
.c-delivery__intro{
	text-align: right;
}
/*text alignement of intro on desktop*/
@media all and (min-width: 1024px){
	.c-delivery__intro{
		text-align: center;
	}
}

/*text styling*/
.c-delivery__title{
	color: #FFB708;
	margin-bottom: 56px;
}
.c-delivery__txt{
	margin-bottom: 160px;
}

/*visibility on mobile*/
.c-delivery__content{
	display: none;
}
.c-delivery__content--mobile{
	display: block;
	padding-bottom: 144px;
}
/*visibility on desktop*/
@media all and (min-width: 1024px){
	.c-delivery__content{
		display: block;
		padding-bottom: 160px;
	}
	.c-delivery__content--mobile{
		display: none;
	}
}

/*layout on mobile*/
.c-delivery__infos__text{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	margin-bottom: 56px;;
}
.c-delivery__infos__text > img{
	margin-right: calc(24/312*100vw);
	min-width: 60px;
	max-width: calc(80/312*100vw);
}
.c-delivery__infos__text > p{
	margin: 0;
}
/*layout on desktop*/
@media all and (min-width:1024px){
	.c-delivery__infos__text{
		display: block;
		width: calc(496/1224*100vw);
		max-width: 496px;
		min-width: 360px;
	}
	.c-delivery__infos > img{
		margin-left: calc(208/1224*100vw);
		margin-right: calc(80/1224*100vw);
		max-width: 520px;
	}
	.c-delivery__infos__text > p{
		margin-bottom: 56px;
	}
	.c-delivery__infos{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
}

/*-----------------------------------*/
/*                MENU               */
/*-----------------------------------*/
/*- Section Layout*/
/*- Title Styling*/
/*- Container Margin*/
/*- Responsive cards grid layout*/

/*- Section Layout*/
/*menu & title on mobile*/
.c-menu{
	padding-top: 120px;
	background-color: #FDFAFB;
	background-image: url("/assets/img/720/ingredient-background.png");
	background-blend-mode: multiply;
	background-size: cover;
}
.c-title--dark{
	padding-left: 24px;

	color : #261410;
	font-size: 36px;
	line-height: 54px;
	/* 56px - 24px = 32px*/
	margin-bottom: 32px;
}
/*background image resize*/
@media all and (min-width: 700px){
	.c-menu{
		background-image: url("/assets/img/1024/ingredient-background.png");
	}
}
/*menu & title on desktop*/
@media all and (min-width: 1024px){
	.c-menu{
		padding-top: 144px;
		background-image: url("/assets/img/2048/ingredient-background.png");
	}
	.c-title--dark{
		padding-left: 0;

		font-size: 54px;
		line-height: 60.8px;

		margin-bottom: 120px;
	}
}

/*- Container Margin*/
/*margin of container on mobile*/
.o-container--menu{
	/* 51px - 24px = 27px*/
	/* s'occuper du c-title--dark : rajouter padding-left: 24px;*/
	padding-left: 27px;
	padding-right: 27px;
}
/*margin of container on desktop*/
@media all and (min-width: 1024px){
	.o-container--menu{
		/*27px + 24px = 51px*/
		padding-left: 51px;
		padding-right: 51px;
	}
}

/*- Cards Grid Layout*/
/*desktop cards layout on mobile*/
.c-menu__cards{
	display: none;
}
/*desktop cards layout on desktop*/
@media all and (min-width: 1024px){
	.c-menu__cards{
		padding: 0 calc(52/1224*100vw);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(400px);
		grid-gap: calc(128/1120*100vw);
	}
}

/*mobile cards layout on desktop*/
@media all and (min-width: 1024px){
	.c-mobilemenu__cards{
		display: none;
	}
}

/*- Card Design*/
/*card design on mobile*/
.c-card{
	margin: 24px 24px 48px 24px;
	max-height: 640px;
	max-width: 540px;
	background-color: #FDFAFB;
	border-radius: 30px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 645px){
	.c-card{
		margin: 24px auto 48px auto;
	}
}
/*card design on desktop*/
@media all and (min-width: 1024px){
	.c-card{
		height: 480px;
		max-width: 384px;

		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		flex-wrap: nowrap;
		margin: 0 0 0 0;
	}
	.c-card:last-child{
		margin: 0 0 240px 0;
	}
}

/*height of the photo on mobile*/
.c-card__picture{
	height: 72%;

	transition: height ease-in-out .3s;
}
/*design of the photo on mobile*/
.c-card__picture > img{
	display: block;

	object-fit: cover;
	height: 100%;
	width: 100%;

	border-radius: 30px 30px 0px 0px;
}

/*design of spicy level*/
.c-card__spicy{
	background-color: #FDFAFB;

	display: flex;           
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	width: calc(64/288*100%);
	padding: 8px;
	border-radius: 8px;

	transform: translate(24px, -50%);
}
.spicy{
	display: inline-flex;
}
.spicy--false > svg > .cls-1 {
	fill:#63001A;
}

/*size of pepper*/
.spicy > svg{
	width: 14px;
	height: 15px;
}

/*layout of card info*/
.c-card__info{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	background-color: #FDFAFB;
	border-radius: 30px;
}

/*design of pizza price*/
.c-pizza__price{
	margin-top: 16px;
	margin-bottom: 8px;

	color: #40221A;
	line-height: 27px;
}
.c-pizza__price--spicy{
	margin-top: -16px;
}

/*design of pizza name*/
.c-pizza__name{
	color: #261410;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;

	margin-bottom: 16px;
}

/*layout of rating*/
.c-pizza__rating{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	margin-bottom: 24px;
}
.star:not(:last-child){
	margin-right: 8px;
}
.star > svg{
	width: 24px;
	height: 24px;
}
.star--false > svg > .cls-1 {
	fill:#63001A;
}

/*cards buttons on mobile*/
.c-card__btn{
	display: block;

	padding: 16px calc(64/288*100%);

	margin-left: 24px;
	margin-right: 24px;

	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #FDFAFB;

	background-color: #FFB708;
	border-radius: 20px;

	margin-bottom: 24px;
	transition: letter-spacing 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95), background-color 0.3s ease-in-out;
}
/*-> hover*/
.c-card__btn:hover{
	letter-spacing: 0.125rem;
	background-color: #D99C07;
}
/*cards buttons on desktop*/
@media all and (min-width: 1024px){
	.c-card__btn{
		margin: 0;
		padding: 0;

		height: 0;
		width: 0;

		opacity: 0;
		visibility: hidden;
	}
	/*hover*/
	.c-card:hover .c-card__picture{
		height: 52%;
	}
	.c-card:hover .c-card__btn{
		animation: btn-effect .5s ease-in-out;
		animation-fill-mode: forwards;
	}
}

/*mobiledots layout*/
.dots {
  display: flex;
	justify-content: center;
	
	padding-bottom: 144px;
}
.dots__item {
  border: 0;
  padding: 0;
  width: 10px;
	height: 10px;
	margin-top: 24px;

  background-color: #63001A;
  border-radius: 100%;

  cursor: pointer;
}
.dots__item:not(:last-child){
  margin-right: 16px;
}
.dots__item--active {
  background: #A5002B;
}

/*-----------------------------------*/
/*            RESERVATION            */
/*-----------------------------------*/
/*section design on mobile*/
.c-reserve{
	padding-top: 120px;
	background-color: #3D0010;
	padding-bottom: 144px;
}
/*section design on desktop*/
@media all and (min-width:1024px){
	.c-reserve{
		padding-top: 144px;
		padding-bottom: 240px;
	}
}

/*title design*/
.c-reserve__title{
	color: #FFB708;
	margin-bottom: 120px;
	text-align: center;
}

/*content layout*/
.c-reserve__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

/*info layout on mobile*/
.c-reserve__info{
	display: none;
}
/*info layout on desktop*/
@media all and (min-width: 1024px){
	.c-reserve__info{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;

		margin-right: calc(232/1224*100%)
	}
}

/*margin bottom of adress*/
.c-reserve__info__address{
	margin-bottom: 118px;
}

/*info design*/
.c-reserve__subtitle{
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 32px;
}
.c-reserve__info{
	padding-left: calc(104/1224*100%);
}
.c-reserve__info__address > .c-txt{
	margin-bottom: 0;
}

/*maps design*/
#map{
	max-width: 288px;
	max-height: 288px;
	width: calc(288/1440*100vw);
	height: calc(288/1440*100vw);
	border-radius: 20px;
}

/*form layout on mobile*/
.c-form{
	width: 100%;
}
.c-form__flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
}
/*form layout on desktop*/
@media all and (min-width: 1024px){
	.c-form__flex--desktop{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;/***/
		flex-wrap: nowrap;
	}
}

/*form layout on mobile*/
input[type=text], input[type=number], input[type=date], select{
	box-sizing: border-box;
	padding : 8px 24px;

	border-radius: 5px;
	background-color:#63001A;
	border: 0;
	box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);

	color: #FDFAFB;

	margin-bottom: 40px;
}
input[type=date], input[type=text], input[type=number]{
	width: 100%;
}
.c-form__date{
	margin-right: 24px;
	width: 50%;
}
.c-form__hour{
	width: 50%;
}
input[type=number]{
	margin-bottom: 56px;
}
/*form layout on desktop*/
@media all and (min-width: 1024px){
	.c-form__firstname{
		margin-right: 24px;
		width: 50%;
	}
	.c-form__lastname{
		width: 50%;
	}
}

/*form design*/
/*disable arrow on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*disable arrow on firefox */
input[type=number] {
  -moz-appearance:textfield;
}
/*btn on desktop*/
input[type=submit]{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 4px solid #D99C07;
	cursor: pointer;
}
/*btn on mobile*/
@media all and (max-width: 1024px){
	input[type=submit]{
		border-bottom: 4px solid #D99C07;
		width: 100%;
		cursor: pointer;
	}
}

/*select styling*/
select{
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 100%;
	background: url('/assets/img/icon/down-icon.png') 95% 50%/12px no-repeat #63001A;
	cursor: pointer;
}
select option {
  background: #63001A;
}

/*-----------------------------------*/
/*           PHOTO PARALAX           */
/*-----------------------------------*/
/*section layout on mobile*/
.parallax{
	object-fit: cover;
	width: 100%;
	height: 414px
}
/*section layout on desktop*/
@media all and (min-width: 1024px){
	.parallax{
		height: 354px;
	}
}

/*-----------------------------------*/
/*               FOOTER              */
/*-----------------------------------*/
/*footer layout on mobile*/
.c-footer{
	padding: 120px 0;
	background-color: #3D0010;
}
.o-container-footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}
/*footer layout on desktop*/
@media all and (min-width: 1024px){
	.c-footer{
		padding: 120px 0 160px 0;
	}
	.o-container-footer{	
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;

		width: 100%;
	}
	.c-footer>.o-container{
		margin: 0 104px;
	}
}

/*text align on mobile*/
.c-footer__contact{
	text-align: center;
}
/*text align on desktop*/
@media all and (min-width: 1024px){
	.c-footer__contact{
		text-align: left;
		max-width: 288px;
	}
}

/*txt layout*/
.c-footer__contact>.c-txt{
	margin-bottom: 0px;
}
.c-footer__contact>.c-txt:last-child{
	margin-bottom: 56px;
}

/*recompense layout*/
.c-footer__recompenses{
	margin-bottom: 56px;
}
.c-footer__recompenses__img>img:first-child{
	margin-right: 24px;
}

/*socialmedia layout on mobile*/
.c-footer__follow{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}
/*socialmedia layout on desktop*/
@media all and (min-width: 1024px){
	.c-footer__follow{
		align-items: flex-start;
	}
}

/*social media design*/
.c-footer__follow>a{
	text-decoration: none;
	color: #BEBBBC;
}
.c-footer__follow>a:not(:last-child){
	margin-bottom: 24px;
}
.c-footer__follow>a>i{
	margin-right: 8px
}

/*--------------------------------------------------------------------------------*/
/*                                     PIZZA                                      */
/*--------------------------------------------------------------------------------*/
.c-pizzaheader{
	background-color: #3D0010;
}

/*cover image on mobile*/
.c-pizzaheader>picture>img{
	position: relative;

	display: block;
	object-fit: cover;
	width: 100%;
	height: 100vw;
}
/*cover image on desktop*/
@media all and (min-width: 1024px){
	.c-pizzaheader>picture>img{
		position: relative;
	
		display: block;
		object-fit: cover;
		width: 100%;
		max-height: 800px;
	}
}

/*spicy on mobile*/
.c-pizza__spicy{
	position: relative;

	margin-top: -16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 80px;
	padding: 8px 24px;
	border-radius: 8px;
	background-color: #3D0010;
}
/*spicy on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__spicy{
		width: 288px;
		padding: 16px 48px;

		margin-top: -32px;
		margin-left: auto;
		margin-right: auto;
	}
	.c-pizza__spicy > .spicy > svg{
		width: 32px;
		height: 32px;
	}
}

/*spicy design*/
.c-pizza__spicy > .spicy > svg > .cls-1{
	fill: #FFB708;
}
.c-pizza__spicy > .spicy--false > svg > .cls-1 {
	fill:#63001A;
}

/*info layout on mobile*/
.c-pizza__mobileinfo{
	padding-top: 80px;
	border-bottom: 1px solid #FFB708;
}
/*info layout on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__mobileinfo{
		padding-top: 0;
		border-bottom: 0;
		margin-right: 128px;
	}
	.c-pizza__info{
		padding-top: 120px;
		padding-left: 104px;
		padding-right: 104px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		border-bottom: 1px solid #FFB708;
	}
}

/*price design on mobile*/
.c-pizza__info__price{
	font-size: 24px;
	text-align: center;
	color: #FFB708;

	margin-bottom: 24px;
}
/*price design on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__price{
		text-align: left;
	}
}

/*title design on mobile*/
.c-pizza__info__title{
	font-size: 54px;
	font-weight: 700;
	text-align: center;
	color: #FFB708;

	margin-bottom: 24px;
}
/*title design on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__title{
		text-align: left;
	}
}

/*rating layout on mobile*/
.c-pizza__info__rating{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	margin-bottom: 40px;
}
/*rating layout on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__rating{
		justify-content: flex-start;
	}
}

/*rating design*/
.c-pizza__info__rating > .star > svg > .cls-1{
	fill: #FDFAFB;
}
.c-pizza__info__rating > .star--false > svg > .cls-1 {
	fill:#999697;
}

/*txt design on mobile*/
.c-pizza__info__desc{
	color:  #FDFAFB;
	text-align: center;

	margin-bottom: 64px;
}
/*txt design on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__desc{
		text-align: left;
	}
}

/*desktop info on mobile*/
.c-pizza__info__desc--desktop{
	display: none;
}
/*mobile info on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__desc--mobile{
		display: none;
	}
	/*desktop info on desktop*/
	.c-pizza__info__desc--desktop{
		display: block;
		text-align: center;
	}
}

/*subtitle on mobile*/
.c-pizza__info__subtitle{
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: #FFB708;

	margin-bottom: 32px          ;
}
/*subtitle on  desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__subtitle{
		display: none;
	}
}

/*btn design on mobile*/
.c-pizza__info__btn{
	margin-bottom: 144px;
}
.c-pizza__info__btn:hover{
	margin-bottom: 148px;
}
/*btn design on desktop*/
@media all and (min-width: 1024px){
	.c-pizza__info__btn:hover{
		margin-bottom: 144px;
	}
}