<section id="delivery" class="c-delivery">
  <div class="o-container">
    <div class="c-delivery__intro">
        <h1 class="c-title c-delivery__title">Au coeur de Bruxelles</h1>
        <p class="c-txt c-delivery__txt">Notre pizzeria vous accueille et vous offre toutes les tendances des pizzas. Vous pourrez ainsi déguster nos pizzas simples et raffinées exclusivement conçues à partir de produits frais. </p>
    </div>
    <div class="c-delivery__content">
      <div class="c-delivery__infos">
        <div class="c-delivery__infos__text">
          <h2 class="c-subtitle">Livraison rapide et gratuite</h2>
          <p class="c-txt">Nous avons le plaisir de vous livrer nos pizzas, nous vous remercions pour la confiance que vous nous témoigniez.
          <br/>Livraison en 30 – 45 minutes</p>
          <a class="c-btn" href="#menu">Commander une pizza</a>
        </div>
        <img src="/assets/img/svg/delivery-illustration-desktop.svg" alt="Illustration">
      </div>
    </div>
    <div class="c-delivery__content--mobile">
      <h2 class="c-subtitle">Livraison rapide et gratuite</h2>
      <div class="c-delivery__infos__text">
        <img src="/assets/img/svg/delivery-illustration-mobile.svg" alt="Illustration">
        <p class="c-txt">Nous avons le plaisir de vous livrer nos pizzas, nous vous remercions pour la confiance que vous nous témoigniez.
        <br/>Livraison en 30 – 45 minutes</p>
      </div>
      <a class="c-btn" href="#menu">Commander une pizza</a>
      </div>
  </div>
</section>