<section class="c-header">
  <div class="o-container">
    <div class="c-header__intro">
      <h1 class="c-title c-title--shadow c-header__title--autoalign">Toutes les saveurs de l’Italie</h1>
      <p class="c-txt c-txt--light c-txt--shadow c-header__txt--autoalign">Centro Pizzeria, c'est le respect de la tradition et de la qualité.
      <br/>C'est aussi un pizzaïolo de 20 ans d'expérience...</p>
      <a class="c-btn c-btn--shadow c-btn--header" href="#menu">Découvrir le menu</a>
    </div>
  </div>
</section>