  <picture class="parallax-pics">
    <source media="all and (min-width: 1024px)"
            srcset="/assets/img/2048/restaurant-cover.jpg">
    <source media="all and (min-width: 720px)"
            srcset="/assets/img/1024/restaurant-cover.jpg">
    <img class="parallax" src="/assets/img/720/restaurant-cover.jpg" alt="">
  </picture>
  <script src="/assets/js/parallax.js"></script>