<footer class="c-footer">
  <div class="o-container">
    <div class="o-container-footer">

      <div class="c-footer__contact">
        <h3 class="c-thirdtitle">Contactez-nous :</h3>
        <p class="c-txt">
          Centro Pizzeria<br/>
          Boulevard Anspach 93,<br/> 
          1000 BRUXELLES<br/>
          Tél.  +32 2 584 56 54
        </p>
        <br/>
        <p class="c-txt">
          Fermé samedi midi et lundi sauf organisation<br/>
          Réservations d’une table par téléphone : +32 2 584 56 54
        </p>
        <br/>
        <p class="c-txt">Mail. info@centropizza.be</p>
      </div>
  
      <div class="c-footer__recompenses">
        <h3 class="c-thirdtitle">Nos récompenses :</h3>
        <div class="c-footer__recompenses__img">
          <img src="/assets/img/icon/artisanat-certifie.png" alt="">
          <img src="/assets/img/icon/guide-michelin.png" alt="">
        </div>
      </div>
  
      <div class="c-footer__follow">
        <h3 class="c-thirdtitle">Suivez-nous :</h3>
        <a href="http://twitter.com" class=""><i class="fab fa-twitter"></i>Twitter</a>
        <a href="http://facebook.com" class=""><i class="fab fa-facebook"></i>Facebook</a>
        <a href="http://instagram.com" class=""><i class="fab fa-instagram"></i>Instagram</a>
      </div>

    </div>
  </div>
</footer>